{% extends '::base.html.twig' %}
{% block body -%}
<div id="jobs">
    {% for category in categories %}
    <div>
           <table>
            {% for entity in category.tabjobs %}
                <a href="{{ path('job_show', { 'id': entity.id }) }}">
                    {{ entity.location }}
                </a>
                {{ entity.position }}
                <td class="company">{{ entity.company }}</td>

            {% endfor %}
        </table>
    </div>
    {% endfor %}

{% endblock %}
