{% extends '::base.html.twig' %}
{% block body -%}
        <div id="j">
            {% for job in jobs %}
                <div>
                    <div class="job">
                        <h1>{{ job.location }}</h1>
                    </div>

                </div>
            {% endfor %}
        </div>
{% endblock %}
