{% extends '::base.html.twig' %}

{% block body -%}


    your post ist success !!

    <p class="text-left">
        <a href="{{ path('job') }}">
            Back to the list !
        </a>
    </p>

{% endblock %}
